## CONTENT

- [INPUT DATA](#INPUT-DATA)
    - [IMPORT DATA](#IMPORT-DATA)
         - [Import through API](#Import-through-API)
         - [Import manually from csv file](#Import-manually-from-csv-file)
    - [SETTING IDENTIFIER](#SETTING-IDENTIFIER)
    - [DATA TYPES](#DATA-TYPES)
    - [GENERAL DESCRIPTION](#GENERAL-DESCRIPTION)
    - [ADDITIONAL COLUMNS](#ADDITIONAL-COLUMNS)
    - [SHOULD DUPLICATES BE ACCOUNTED FOR?](#SHOULD-DUPLICATES-BE-ACCOUNTED-FOR?)
- [FOR DATABASE DESIGN](#FOR-DATABASE-DESIGN)
    - [EXPORT OF TABLES TO CSV FILES](#EXPORT-OF-TABLES-TO-CSV-FILES)
    - [TABLE COLUMNS TYPES](#TABLE-COLUMNS-TYPES)
    - [UPDATE](#UPDATE)

## INPUT DATA

In [1]:
import pandas as pd
import scipy.stats as stat
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import plotly as pl
import plotly.express as px
import plotly.subplots as sp
import plotly.graph_objects as go
from pathlib import Path
import roman

In [2]:
pd.options.display.float_format = '{:_.2f}'.format
pd.set_option('display.max_rows', 300) 
pd.set_option('display.max_columns', 100)

##### IMPORT DATA

###### Import through API

In [37]:
import requests

# API endpoint URL
url = "https://data.usaid.gov/resource/azij-hu6e.json"

# Make a GET request to the API endpoint
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Convert the JSON response into a Pandas DataFrame
    data = response.json()
    df = pd.DataFrame(data)
    # Now you have your data in a DataFrame and can perform further processing or analysis
else:
    print("Failed to fetch data from API:", response.status_code)

###### Import manually from csv file

In [3]:
results_df_2025 = pd.read_csv(r'C:\Users\User\Desktop\Лика\For_a_while\DS\Projects\US_foreign_aid\us_foreign_aid_complete_2025.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_12284\2552346508.py:1: DtypeWarning: Columns (6,7,12,48) have mixed types. Specify dtype option on import or set low_memory=False.
  results_df_2025 = pd.read_csv(r'C:\Users\User\Desktop\Лика\For_a_while\DS\Projects\US_foreign_aid\us_foreign_aid_complete_2025.csv')

In [5]:
results_df = results_df_2025

In [6]:
f'Initial dataframe has {results_df.shape[0]:_} rows and {results_df.shape[1]:_} columns'

'Initial dataframe has 3_734_999 rows and 56 columns'

In [7]:
# Let's have a look at dataframe's columns and their types
results_df.info()

# Now we are passing initial columns list to a variable that will be used later:
results_df_lst_initial = results_df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3734999 entries, 0 to 3734998
Data columns (total 56 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   Country ID                              int64
 1   Country Code                            object
 2   Country Name                            object
 3   Region ID                               int64
 4   Region Name                             object
 5   Income Group ID                         float64
 6   Income Group Name                       object
 7   Income Group Acronym                    object
 8   Managing Agency ID                      int64
 9   Managing Agency Acronym                 object
 10  Managing Agency Name                    object
 11  Managing Sub-agency or Bureau ID        int64
 12  Managing Sub-agency or Bureau Acronym   object
 13  Managing Sub-agency or Bureau Name      object
 14  Implementing Partner Category ID        int64
 15  Implementing Partner Category Name      object
 16  Implementing Partner Sub-category ID    int64
 17  Implementing Partner Sub-category Name  object
 18  Implementing Partner ID                 int64
 19  Implementing Partner Name               object
 20  International Category ID               int64
 21  International Category Name             object
 22  International Sector Code               int64
 23  International Sector Name               object
 24  International Purpose Code              int64
 25  International Purpose Name              object
 26  US Category ID                          int64
 27  US Category Name                        object
 28  US Sector ID                            int64
 29  US Sector Name                          object
 30  Funding Account ID                      object
 31  Funding Account Name                    object
 32  Funding Agency ID                       int64
 33  Funding Agency Name                     object
 34  Funding Agency Acronym                  object
 35  Foreign Assistance Objective ID         int64
 36  Foreign Assistance Objective Name       object
 37  Aid Type Group ID                       int64
 38  Aid Type Group Name                     object
 39  Activity ID                             int64
 40  Submission ID                           int64
 41  Activity Name                           object
 42  Activity Description                    object
 43  Activity Project Number                 object
 44  Activity Start Date                     object
 45  Activity End Date                       object
 46  Transaction Type ID                     int64
 47  Transaction Type Name                   object
 48  Fiscal Year                             object
 49  Transaction Date                        object
 50  Current Dollar Amount                   int64
 51  Constant Dollar Amount                  int64
 52  aid_type_id                             int64
 53  aid_type_name                           object
 54  activity_budget_amount                  object
 55  submission_activity_id                  int64
dtypes: float64(1), int64(22), object(33)
memory usage: 1.6+ GB

##### SETTING IDENTIFIER

In [8]:
# Let's set identifier for each row (action).

if 'Unnamed: 0' in results_df.columns:
    results_df.drop('Unnamed: 0', axis=1, inplace=True)
    
results_df.reset_index(inplace=True)
results_df.rename(columns={'index': 'id'}, inplace=True)

In [9]:
results_df.sample(n=5)

,id,Country ID,Country Code,Country Name,Region ID,Region Name,Income Group ID,Income Group Name,Income Group Acronym,Managing Agency ID,Managing Agency Acronym,Managing Agency Name,Managing Sub-agency or Bureau ID,Managing Sub-agency or Bureau Acronym,Managing Sub-agency or Bureau Name,Implementing Partner Category ID,Implementing Partner Category Name,Implementing Partner Sub-category ID,Implementing Partner Sub-category Name,Implementing Partner ID,Implementing Partner Name,International Category ID,International Category Name,International Sector Code,International Sector Name,International Purpose Code,International Purpose Name,US Category ID,US Category Name,US Sector ID,US Sector Name,Funding Account ID,Funding Account Name,Funding Agency ID,Funding Agency Name,Funding Agency Acronym,Foreign Assistance Objective ID,Foreign Assistance Objective Name,Aid Type Group ID,Aid Type Group Name,Activity ID,Submission ID,Activity Name,Activity Description,Activity Project Number,Activity Start Date,Activity End Date,Transaction Type ID,Transaction Type Name,Fiscal Year,Transaction Date,Current Dollar Amount,Constant Dollar Amount,aid_type_id,aid_type_name,activity_budget_amount,submission_activity_id
54602,54602,4,AFG,Afghanistan,4,South and Central Asia,1.00,Low Income Country,LIC,1,USAID,U.S. Agency for International Development,92,OAPA,Office of Afghanistan and Pakistan Affairs,8,Enterprises,20,Enterprises - Non United States,3990207,Enterprise - Non United States Redacted,10,Administrative Costs,912,Program Design and Learning,91020,Program Design and Learning,8,Program Support,41,Direct Administrative Costs,72x1021,"Agency for International Development, Developm...",1,U.S. Agency for International Development,USAID,1,Economic,6,Administrative Costs,191240,76,USAID redacted this field in accordance with t...,USAID redacted this field in accordance with t...,NaN,NaN,NaN,3,Disbursements,2014,01APR2014,6490,8204,17,Administrative costs not included elsewhere,.,51884
1999889,1999889,586,PAK,Pakistan,4,South and Central Asia,2.00,Lower Middle Income Country,LMIC,1,USAID,U.S. Agency for International Development,92,OAPA,Office of Afghanistan and Pakistan Affairs,8,Enterprises,19,Enterprises - United States,3990208,Enterprise - United States Redacted,10,Administrative Costs,911,Operating Expenses,91010,Operating Expenses,8,Program Support,41,Direct Administrative Costs,72x1000,"Agency for International Development, Operatin...",1,U.S. Agency for International Development,USAID,1,Economic,6,Administrative Costs,191168,76,USAID redacted this field in accordance with t...,USAID redacted this field in accordance with t...,NaN,NaN,NaN,2,Obligations,2017,01MAY2017,-6257,-7638,17,Administrative costs not included elsewhere,.,51812
1263349,1263349,400,JOR,Jordan,3,Middle East and North Africa,3.00,Upper Middle Income Country,UMIC,1,USAID,U.S. Agency for International Development,28,ME,Bureau for Middle East,1,Government,1,Government - United States,1000001,U.S. Government - U.S. Agency for Internationa...,7,Other,430,Other Multisector,43010,Multisector aid,4,Education and Social Services,24,Social Assistance,72x1037,Economic Support Fund,1,U.S. Agency for International Development,USAID,1,Economic,4,Technical Assistance,153196,76,Economic Support Fund,Economic Support Fund,278-005,NaN,NaN,3,Disbursements,2007,01DEC2006,1072,1518,13,Technical Cooperation - Other,.,13798
280684,280684,104,MMR,Burma (Myanmar),1,East Asia and Oceania,2.00,Lower Middle Income Country,LMIC,1,USAID,U.S. Agency for International Development,20,ASIA,Bureau for Asia,8,Enterprises,19,Enterprises - United States,4000575,Personal Services Contractors - USAID,10,Administrative Costs,913,Administration and Oversight,91030,Administration and Oversight,8,Program Support,41,Direct Administrative Costs,72x1037,Economic Support Fund,1,U.S. Agency for International Development,USAID,1,Economic,6,Administrative Costs,176345,76,Administration and Oversight,Supports the following illustrative program-fu...,6.2.1,NaN,NaN,3,Disbursements,2012,01FEB2012,36284,47553,17,Administrative costs not included elsewhere,.,36982
3095765,3095765,1002,WLD,World,7,World,NaN,NaN,NaN,1,USAID,U.S. Agency for International Development,25,GH,Bureau for Global Health,3,NGO,5,NGO - United States,4000810,PATH,2,Health and Population,130,"Maternal and Child Health, Family Planning",13020,Reproductive health care,3,Health,16,Maternal and Child Health,19x1031,"Department of State, Global Health Programs",2,Department of State,STATE,1,Economic,3,Project-Type,185364,76,HealthTech V,"HealthTech develops, adapts, evaluates and/or ...",AID-OAA-A-11-00051,2011-10-01,2016-09-30,3,Disbursements,2016,01APR2016,173342,215170,8,Project-type interventions - not Investment Re...,24301485,46004

##### DATA TYPES

In [10]:
# Let's rename columns to be consistent with DB Usaid

# For 2025 input:

# Let's rename all columns:  
# results_df.columns = results_df_lst
results_df.columns = [el.replace(' ', '_').lower() for el in results_df.columns]  
    
# Manual correction:
# 1)  managing_sub-agency_or_bureau
# This field is not used in the DB USAID Diagram.
# But in order to hold consistency, we need to rename some columns:
results_df.rename(columns={'managing_sub-agency_or_bureau_id': 'managing_sub_agency_or_bureau', \
                       'managing_sub-agency_or_bureau_acronym': 'managing_sub_agency_or_bureau_1', \
                       'managing_sub-agency_or_bureau_name': 'managing_sub_agency_or_bureau_2'}, \
                      inplace = True)

# 2)  implementing_partner_category and implementing_partner_sub
results_df.rename(columns={'implementing_partner_category_id': 'implementing_partner_category', \
                       'implementing_partner_category_name': 'implementing_partner_category_1', \
                       'implementing_partner_sub-category_id': 'implementing_partner_sub', \
                       'implementing_partner_sub-category_name': 'implementing_partner_sub_1'}, \
                      inplace = True)


# 3)  foreign_assistance_objective
results_df.rename(columns={'foreign_assistance_objective_id': 'foreign_assistance_objective', \
                       'foreign_assistance_objective_name': 'foreign_assistance_objective_1'}, \
                      inplace = True)

In [11]:
# Let's compare 'before' and 'after' result:
columns_compare = pd.DataFrame({"Before": results_df_lst_initial, "After": results_df.columns[1:]}).query("Before != After")
columns_compare

                                    Before                            After
0                               Country ID                       country_id
1                             Country Code                     country_code
2                             Country Name                     country_name
3                                Region ID                        region_id
4                              Region Name                      region_name
5                          Income Group ID                  income_group_id
6                        Income Group Name                income_group_name
7                     Income Group Acronym             income_group_acronym
8                       Managing Agency ID               managing_agency_id
9                  Managing Agency Acronym          managing_agency_acronym
10                    Managing Agency Name             managing_agency_name
11        Managing Sub-agency or Bureau ID    managing_sub_agency_or_bureau
12   Managing Sub-agency or Bureau Acronym  managing_sub_agency_or_bureau_1
13      Managing Sub-agency or Bureau Name  managing_sub_agency_or_bureau_2
14        Implementing Partner Category ID    implementing_partner_category
15      Implementing Partner Category Name  implementing_partner_category_1
16    Implementing Partner Sub-category ID         implementing_partner_sub
17  Implementing Partner Sub-category Name       implementing_partner_sub_1
18                 Implementing Partner ID          implementing_partner_id
19               Implementing Partner Name        implementing_partner_name
20               International Category ID        international_category_id
21             International Category Name      international_category_name
22               International Sector Code        international_sector_code
23               International Sector Name        international_sector_name
24              International Purpose Code       international_purpose_code
25              International Purpose Name       international_purpose_name
26                          US Category ID                   us_category_id
27                        US Category Name                 us_category_name
28                            US Sector ID                     us_sector_id
29                          US Sector Name                   us_sector_name
30                      Funding Account ID               funding_account_id
31                    Funding Account Name             funding_account_name
32                       Funding Agency ID                funding_agency_id
33                     Funding Agency Name              funding_agency_name
34                  Funding Agency Acronym           funding_agency_acronym
35         Foreign Assistance Objective ID     foreign_assistance_objective
36       Foreign Assistance Objective Name   foreign_assistance_objective_1
37                       Aid Type Group ID                aid_type_group_id
38                     Aid Type Group Name              aid_type_group_name
39                             Activity ID                      activity_id
40                           Submission ID                    submission_id
41                           Activity Name                    activity_name
42                    Activity Description             activity_description
43                 Activity Project Number          activity_project_number
44                     Activity Start Date              activity_start_date
45                       Activity End Date                activity_end_date
46                     Transaction Type ID              transaction_type_id
47                   Transaction Type Name            transaction_type_name
48                             Fiscal Year                      fiscal_year
49                        Transaction Date                 transaction_date
50                   Current Dollar Amount            current_dollar_amount
51                  Constant Dollar Amount           constant_dollar_amount

In [12]:
# This function takes a dataframe and its columns as arguments and returns a column with their data types.

def clns_data_type(df, clns):
    return pd.DataFrame(df[clns].dtypes, columns=['Data_type'])

In [13]:
# Let's imply this function.

clns_data_type(results_df, results_df.columns)

                                Data_type
id                                  int64
country_id                          int64
country_code                       object
country_name                       object
region_id                           int64
region_name                        object
income_group_id                   float64
income_group_name                  object
income_group_acronym               object
managing_agency_id                  int64
managing_agency_acronym            object
managing_agency_name               object
managing_sub_agency_or_bureau       int64
managing_sub_agency_or_bureau_1    object
managing_sub_agency_or_bureau_2    object
implementing_partner_category       int64
implementing_partner_category_1    object
implementing_partner_sub            int64
implementing_partner_sub_1         object
implementing_partner_id             int64
implementing_partner_name          object
international_category_id           int64
international_category_name        object
international_sector_code           int64
international_sector_name          object
international_purpose_code          int64
international_purpose_name         object
us_category_id                      int64
us_category_name                   object
us_sector_id                        int64
us_sector_name                     object
funding_account_id                 object
funding_account_name               object
funding_agency_id                   int64
funding_agency_name                object
funding_agency_acronym             object
foreign_assistance_objective        int64
foreign_assistance_objective_1     object
aid_type_group_id                   int64
aid_type_group_name                object
activity_id                         int64
submission_id                       int64
activity_name                      object
activity_description               object
activity_project_number            object
activity_start_date                object
activity_end_date                  object
transaction_type_id                 int64
transaction_type_name              object
fiscal_year                        object
transaction_date                   object
current_dollar_amount               int64
constant_dollar_amount              int64
aid_type_id                         int64
aid_type_name                      object
activity_budget_amount             object
submission_activity_id              int64

In [14]:
# Now we have unique values of data types and their quanitities.

pd.DataFrame(clns_data_type(results_df, results_df.columns).value_counts())

           count
Data_type
object        33
int64         23
float64        1

##### Process dates

In [16]:
# Date type columns

In [15]:
# Let's figure out data types of date-time columns.

date_cln = ['activity_start_date', 'activity_end_date', 'transaction_date', 'fiscal_year']
clns_data_type(results_df, date_cln)

                    Data_type
activity_start_date    object
activity_end_date      object
transaction_date       object
fiscal_year            object

In [16]:
# It would be useful to have a look at this data

results_df[date_cln].dropna(subset = date_cln).sample(5)

        activity_start_date activity_end_date transaction_date fiscal_year
448379           2014-01-27        2018-09-30        01JAN2011        2011
1510817          2009-09-30        2019-09-23        01MAY2014        2014
469262           2014-03-17        2019-12-31        01JAN2019        2019
2148852          2006-09-30        2015-09-30        01JUN2012        2012
304242           2008-12-22        2010-12-21        01MAR2011        2011

In [17]:
# Converting data type from object to datetime.

results_df['activity_start_date'] = pd.to_datetime(results_df['activity_start_date'], format='%Y-%m-%d')
results_df['activity_end_date'] = pd.to_datetime(results_df['activity_end_date'], format='%Y-%m-%d')
results_df['transaction_date'] = pd.to_datetime(results_df['transaction_date'], format='%d%b%Y')

In [18]:
# A little hurdle...

""" 
tq—In 1976 the U.S. Government changed the fiscal year from July-June to October-September. 
The Transition Quarter (TQ) reports the 3 month adjustment period of July, August and September in 1976.
"""
results_df['fiscal_year'] = results_df['fiscal_year'].astype(str).str[:4] # 1976tq-quarter is being added to 1976 fiscal year

""" let's check (Series must be empty) """
mask = results_df['fiscal_year'].str.len() > 4
results_df['fiscal_year'][mask]

Series([], Name: fiscal_year, dtype: object)

In [19]:
# Converting fiscal_year to integer

results_df['fiscal_year'] = pd.to_datetime(results_df['fiscal_year'], format='%Y')
results_df['fiscal_year'] = results_df['fiscal_year'].dt.year

In [20]:
clns_data_type(results_df, date_cln)

                          Data_type
activity_start_date  datetime64[ns]
activity_end_date    datetime64[ns]
transaction_date     datetime64[ns]
fiscal_year                   int32

In [62]:
# Currency columns

In [21]:
money_cln = ['current_dollar_amount', 'constant_dollar_amount', 'activity_budget_amount']
clns_data_type(results_df, money_cln)

                       Data_type
current_dollar_amount      int64
constant_dollar_amount     int64
activity_budget_amount    object

In [22]:
# Now let's see why 'activity_budget_amount' has an object data type.

results_df[money_cln].loc[results_df['activity_budget_amount'] == '.'].sample(5)

         current_dollar_amount  constant_dollar_amount activity_budget_amount
695051                    3600                    3506                      .
1426650                  19161                   22177                      .
454591                   -5774                   -7299                      .
2150639                   2840                    3467                      .
1746669                 273000                  371600                      .

In [23]:
# We'll use 0 instead of '.' for 'activity_budget_amount'.

budget = results_df['activity_budget_amount'].astype('str')
budget.replace('.', 0, inplace=True)
budget = budget.astype('float64')

results_df['activity_budget_amount'] = budget

In [ ]:
# SINCE THIS ANALYSIS IS AIMED AT HIGH LEVEL CALCULATIONS, FLOAT64 PRECISION FOR CURRENCY COLUMNS IS ENOUGH (DECIMAL DATA TYPE IS NOT NECESSERY).

In [24]:
# Converting currency columns to float64.

results_df['current_dollar_amount'] = results_df['current_dollar_amount'].astype('float64')
results_df['constant_dollar_amount'] = results_df['constant_dollar_amount'].astype('float64')

In [25]:
clns_data_type(results_df, money_cln)

                       Data_type
current_dollar_amount    float64
constant_dollar_amount   float64
activity_budget_amount   float64

In [26]:
# Let's have a look at the current unique data types and their quantities

clns_data_type(results_df, results_df.columns)['Data_type'].astype(str).value_counts().to_frame(name = 'Frequency')

                Frequency
Data_type
object                 28
int64                  21
float64                 4
datetime64[ns]          3
int32                   1

In [27]:
# Now we need to figure out why there are 4 columns with float64 data type

clns_data_type(results_df, results_df.columns)[ clns_data_type(results_df, results_df.columns)['Data_type'] == 'float64' ]

                       Data_type
income_group_id          float64
current_dollar_amount    float64
constant_dollar_amount   float64
activity_budget_amount   float64

In [87]:
# We need to address a column-outlier (let's change cln 'income_group_id' data type from float to int64 )

In [28]:
results_df['income_group_id'] = results_df['income_group_id'].astype('Int64')

In [29]:
results_df['income_group_id'].dtype

Int64Dtype()

In [30]:
# Let's revise our goal. 
# We need a table that lists the columns of results_df with the corresponding Pandas and SQL Server data types.

In [91]:
# For this purpose, we use a table of data types' relations (generated by ChatGPT):

In [30]:
data_types_corr = pd.read_excel(r'C:\Users\User\Desktop\Лика\For_a_while\DS\Projects\US_foreign_aid\DB_SQL_SERVER_1\DataTypes.xlsx')
data_types_corr

,Pandas Data Type,Microsoft SQL Server Data Type,"Range of Possible Values, Pandas","Range of Possible Values, SQL"
0,int64,BIGINT,"-9,223,372,036,854,775,808 to 9,223,372,036,85...",-2^63 to 2^63-1
1,int32,INT,"-2,147,483,648 to 2,147,483,647","-2,147,483,648 to 2,147,483,647"
2,int16,SMALLINT,"-32,768 to 32,767","-32,768 to 32,767"
3,int8,TINYINT,0 to 255,0 to 255
4,float64,FLOAT,Approximately ±1.8 x 10^308,-1.79E+308 to 1.79E+308
5,float32,REAL,Approximately ±3.4 x 10^38,-3.40E+38 to 3.40E+38
6,bool,BIT,True or False,0 or 1
7,datetime64[ns],DATETIME2,1677-09-21 to 2262-04-11,0001-01-01 to 9999-12-31
8,"datetime64[ns, tz]",DATETIMEOFFSET,1677-09-21 to 2262-04-11 with timezone info,0001-01-01 to 9999-12-31 with timezone info
9,timedelta[ns],TIME,[Timedelta range],00:00:00.0000000 to 23:59:59.9999999
10,object (string),NVARCHAR(MAX),String values,"Variable-length string, up to 2^31-1 bytes"
11,object (text),TEXT,String values,"Variable-length string, up to 2^31-1 bytes"
12,category,NVARCHAR (depending on size of categories),Finite set of values,"Variable-length string, up to 2^31-1 bytes"
13,object (binary),VARBINARY(MAX),Binary data,"Variable-length binary data, up to 2^31-1 bytes"

In [31]:
# This interim dictionary will be useful for the next step.

data_types_dict = data_types_corr.iloc[:,0:2].set_index('Pandas Data Type').to_dict() # We've got a nested dict: {'Microsoft SQL Server Data Type': {}}
data_types_dict = data_types_dict['Microsoft SQL Server Data Type']  # go through the outer key 'Microsoft SQL Server Data Type' to reach inner dict
data_types_dict['Int64'] = 'BIGINT' # added new pair key-value for Int64 
data_types_dict

{'int64': 'BIGINT',
 'int32': 'INT',
 'int16': 'SMALLINT',
 'int8': 'TINYINT',
 'float64': 'FLOAT',
 'float32': 'REAL',
 'bool': 'BIT',
 'datetime64[ns]': 'DATETIME2',
 'datetime64[ns, tz]': 'DATETIMEOFFSET',
 'timedelta[ns]': 'TIME',
 'object (string)': 'NVARCHAR(MAX)',
 'object (text)': 'TEXT',
 'category': 'NVARCHAR (depending on size of categories)',
 'object (binary)': 'VARBINARY(MAX)',
 'Int64': 'BIGINT'}

In [32]:
# Finally we've got a table that states each columns' data type for Pandas and SQL Server.

dt_pandas_vs_sql = clns_data_type(results_df, results_df.columns).replace('object', 'object (string)')
dt_pandas_vs_sql['Data_type'] = dt_pandas_vs_sql['Data_type'].astype('str')
dt_pandas_vs_sql['sql_data_type'] = dt_pandas_vs_sql['Data_type'].map(data_types_dict)
dt_pandas_vs_sql

                                       Data_type  sql_data_type
id                                         int64         BIGINT
country_id                                 int64         BIGINT
country_code                     object (string)  NVARCHAR(MAX)
country_name                     object (string)  NVARCHAR(MAX)
region_id                                  int64         BIGINT
region_name                      object (string)  NVARCHAR(MAX)
income_group_id                            Int64         BIGINT
income_group_name                object (string)  NVARCHAR(MAX)
income_group_acronym             object (string)  NVARCHAR(MAX)
managing_agency_id                         int64         BIGINT
managing_agency_acronym          object (string)  NVARCHAR(MAX)
managing_agency_name             object (string)  NVARCHAR(MAX)
managing_sub_agency_or_bureau              int64         BIGINT
managing_sub_agency_or_bureau_1  object (string)  NVARCHAR(MAX)
managing_sub_agency_or_bureau_2  object (string)  NVARCHAR(MAX)
implementing_partner_category              int64         BIGINT
implementing_partner_category_1  object (string)  NVARCHAR(MAX)
implementing_partner_sub                   int64         BIGINT
implementing_partner_sub_1       object (string)  NVARCHAR(MAX)
implementing_partner_id                    int64         BIGINT
implementing_partner_name        object (string)  NVARCHAR(MAX)
international_category_id                  int64         BIGINT
international_category_name      object (string)  NVARCHAR(MAX)
international_sector_code                  int64         BIGINT
international_sector_name        object (string)  NVARCHAR(MAX)
international_purpose_code                 int64         BIGINT
international_purpose_name       object (string)  NVARCHAR(MAX)
us_category_id                             int64         BIGINT
us_category_name                 object (string)  NVARCHAR(MAX)
us_sector_id                               int64         BIGINT
us_sector_name                   object (string)  NVARCHAR(MAX)
funding_account_id               object (string)  NVARCHAR(MAX)
funding_account_name             object (string)  NVARCHAR(MAX)
funding_agency_id                          int64         BIGINT
funding_agency_name              object (string)  NVARCHAR(MAX)
funding_agency_acronym           object (string)  NVARCHAR(MAX)
foreign_assistance_objective               int64         BIGINT
foreign_assistance_objective_1   object (string)  NVARCHAR(MAX)
aid_type_group_id                          int64         BIGINT
aid_type_group_name              object (string)  NVARCHAR(MAX)
activity_id                                int64         BIGINT
submission_id                              int64         BIGINT
activity_name                    object (string)  NVARCHAR(MAX)
activity_description             object (string)  NVARCHAR(MAX)
activity_project_number          object (string)  NVARCHAR(MAX)
activity_start_date               datetime64[ns]      DATETIME2
activity_end_date                 datetime64[ns]      DATETIME2
transaction_type_id                        int64         BIGINT
transaction_type_name            object (string)  NVARCHAR(MAX)
fiscal_year                                int32            INT
transaction_date                  datetime64[ns]      DATETIME2
current_dollar_amount                    float64          FLOAT
constant_dollar_amount                   float64          FLOAT
aid_type_id                                int64         BIGINT
aid_type_name                    object (string)  NVARCHAR(MAX)
activity_budget_amount                   float64          FLOAT
submission_activity_id                     int64         BIGINT

In [97]:
# The following code is defining max values for the columns with int64, object, float64 data types.

In [33]:
columns_types = pd.DataFrame(
                {"Column_name": results_df.columns,
                 "Data_type": results_df.dtypes}
                ).reset_index(drop=True)

#columns_types.Data_type.drop_duplicates() # int64, object, float64

max_string = 0
max_int = 0
max_float = 0.0

for i in range(len(columns_types)):
    current_dt = columns_types.Data_type[i]
    if current_dt == 'object':
        if results_df.iloc[:,i].str.len().max() >  max_string:
            max_string = results_df.iloc[:,i].str.len().max()
            col_max_string = columns_types.Column_name[i]
    elif current_dt == 'int64':
        if results_df.iloc[:,i].max() > max_int:
            max_int = results_df.iloc[:,i].max()
            col_max_int = columns_types.Column_name[i]
    elif current_dt == 'float64':
        if results_df.iloc[:,i].max() >  max_float:
            max_float = results_df.iloc[:,i].max()
            col_max_float = columns_types.Column_name[i]                

print(f'The longest string value across all the object columns is {max_string:_}, (column: {col_max_string}) ',
      f'max value across all the integer columns is {max_int:_}, (column: {col_max_int}) ',
      f'max value across all the float columns is {max_float:_}, (column: {col_max_float}) '
      , sep='\n')

The longest string value across all the object columns is 2_000, (column: activity_description)
max value across all the integer columns is 4_020_508, (column: implementing_partner_id)
max value across all the float columns is 42_424_698_795.0, (column: constant_dollar_amount)

In [89]:
# Let's check the result above:

In [34]:
longest_description = results_df.loc[results_df['activity_description'].str.len().idxmax(),'activity_description']
f'{len(longest_description):_}'

'2_000'

In [35]:
largest_int = results_df.loc[results_df['implementing_partner_id'].idxmax(),'implementing_partner_id']
f'{largest_int:_}'

'4_020_508'

In [36]:
largest_float = results_df.loc[results_df['constant_dollar_amount'].idxmax(),'constant_dollar_amount']
f'{largest_float:_}'

'42_424_698_795.0'

In [103]:
#dt_pandas_vs_sql.to_excel(r'C:\Users\User\Desktop\Лика\For_a_while\DS\Projects\US_foreign_aid\DB_SQL_SERVER_1\dt_pandas_vs_sql.xlsx', \
#                            index_label = 'Column_name', \
#                            header = False)

In [96]:
# The next section will give us the first data insights.

##### GENERAL DESCRIPTION

In [37]:
stat_des = results_df.describe(include='all').T
stat_des.sample(10)

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
fiscal_year,3_734_999.00,NaN,NaN,NaN,2_015.00,1_946.00,2_011.00,2_016.00,2_021.00,2_025.00,7.03
us_sector_name,3734999,52,Direct Administrative Costs,1389514,NaN,NaN,NaN,NaN,NaN,NaN,NaN
managing_sub_agency_or_bureau_2,3734999,144,Bureau for Africa,929755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
current_dollar_amount,3_734_999.00,NaN,NaN,NaN,720_002.61,-2_979_100_740.00,1_443.00,16_254.00,122_341.50,9_941_000_000.00,25_639_938.70
activity_end_date,1085811,NaN,NaN,NaN,2020-10-13 02:19:45.998668032,1999-07-10 00:00:00,2017-08-31 00:00:00,2021-07-06 00:00:00,2024-06-30 00:00:00,2038-09-30 00:00:00,NaN
activity_project_number,2347016,106470,OE,145374,NaN,NaN,NaN,NaN,NaN,NaN,NaN
transaction_type_name,3734999,2,Disbursements,2453873,NaN,NaN,NaN,NaN,NaN,NaN,NaN
income_group_acronym,2936893,4,LMIC,1149611,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aid_type_group_id,3_734_999.00,NaN,NaN,NaN,4.03,1.00,3.00,3.00,6.00,7.00,1.37
funding_agency_acronym,3734092,29,USAID,2331171,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
general_des = pd.DataFrame()

general_des['Dtype'] = results_df.apply(lambda col: col.dtype)
general_des['Unique_values'] = results_df.apply(lambda col: len(col.unique()), axis=0)
general_des['Null_values'] = results_df.apply(lambda col: sum(col.isna()))

In [39]:
general_des

                                          Dtype  Unique_values  Null_values
id                                        int64        3734999            0
country_id                                int64            253            0
country_code                             object            248          266
country_name                             object            253            0
region_id                                 int64              7            0
region_name                              object              7            0
income_group_id                           Int64              5       798106
income_group_name                        object              5       798106
income_group_acronym                     object              5       798106
managing_agency_id                        int64             29            0
managing_agency_acronym                  object             29          699
managing_agency_name                     object             29            0
managing_sub_agency_or_bureau             int64            148            0
managing_sub_agency_or_bureau_1          object            142       237192
managing_sub_agency_or_bureau_2          object            144            0
implementing_partner_category             int64              8            0
implementing_partner_category_1          object              8            0
implementing_partner_sub                  int64             20            0
implementing_partner_sub_1               object             20            0
implementing_partner_id                   int64          13039            0
implementing_partner_name                object          13039            0
international_category_id                 int64             10            0
international_category_name              object             10            0
international_sector_code                 int64             37            0
international_sector_name                object             37            0
international_purpose_code                int64            223            0
international_purpose_name               object            223            0
us_category_id                            int64              9            0
us_category_name                         object              9            0
us_sector_id                              int64             52            0
us_sector_name                           object             52            0
funding_account_id                       object            255            0
funding_account_name                     object            244            0
funding_agency_id                         int64             30            0
funding_agency_name                      object             30            0
funding_agency_acronym                   object             30          907
foreign_assistance_objective              int64              2            0
foreign_assistance_objective_1           object              2            0
aid_type_group_id                         int64              7            0
aid_type_group_name                      object              7            0
activity_id                               int64         269311            0
submission_id                             int64            110            0
activity_name                            object         101613            0
activity_description                     object         117236            0
activity_project_number                  object         106471      1387983
activity_start_date              datetime64[ns]           3525      3041923
activity_end_date                datetime64[ns]           6058      2649188
transaction_type_id                       int64              2            0
transaction_type_name                    object              2            0
fiscal_year                               int32             80            0
transaction_date                 datetime64[ns]           3919       281165
current_dollar_amount                   float64         672014            0
constant_dollar_amount                  float64         776502            0
aid_type_id                               int64             20            0
aid_type_name                            object             20            0
activity_budget_amount                  float64          18186            0
submission_activity_id                    int64          71398            0

In [40]:
general_des = pd.merge(general_des, stat_des, left_index=True, right_index=True, how='inner')
general_des

,Dtype,Unique_values,Null_values,count,unique,top,freq,mean,min,25%,50%,75%,max,std
id,int64,3734999,0,3_734_999.00,NaN,NaN,NaN,1_867_499.00,0.00,933_749.50,1_867_499.00,2_801_248.50,3_734_998.00,1_078_201.48
country_id,int64,253,0,3_734_999.00,NaN,NaN,NaN,567.98,4.00,328.00,558.00,834.00,1_072.00,316.58
country_code,object,248,266,3734733,247,WLD,455672,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country_name,object,253,0,3734999,253,World,455672,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region_id,int64,7,0,3_734_999.00,NaN,NaN,NaN,4.54,1.00,4.00,5.00,6.00,7.00,1.74
region_name,object,7,0,3734999,7,Sub-Saharan Africa,1407517,NaN,NaN,NaN,NaN,NaN,NaN,NaN
income_group_id,Int64,5,798106,2_936_893.00,<NA>,<NA>,<NA>,1.97,1.00,1.00,2.00,3.00,4.00,0.81
income_group_name,object,5,798106,2936893,4,Lower Middle Income Country,1149611,NaN,NaN,NaN,NaN,NaN,NaN,NaN
income_group_acronym,object,5,798106,2936893,4,LMIC,1149611,NaN,NaN,NaN,NaN,NaN,NaN,NaN
managing_agency_id,int64,29,0,3_734_999.00,NaN,NaN,NaN,2.17,1.00,1.00,1.00,1.00,99.00,3.75
managing_agency_acronym,object,29,699,3734300,28,USAID,2993319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
managing_agency_name,object,29,0,3734999,29,U.S. Agency for International Development,2993319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
managing_sub_agency_or_bureau,int64,148,0,3_734_999.00,NaN,NaN,NaN,74.48,1.00,19.00,22.00,38.00,999.00,191.69
managing_sub_agency_or_bureau_1,object,142,237192,3497807,141,AFR,969831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
managing_sub_agency_or_bureau_2,object,144,0,3734999,144,Bureau for Africa,929755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
implementing_partner_category,int64,8,0,3_734_999.00,NaN,NaN,NaN,4.92,1.00,1.00,7.00,8.00,8.00,3.12
implementing_partner_category_1,object,8,0,3734999,8,Enterprises,1744639,NaN,NaN,NaN,NaN,NaN,NaN,NaN
implementing_partner_sub,int64,20,0,3_734_999.00,NaN,NaN,NaN,11.09,1.00,1.00,12.00,19.00,20.00,8.26
implementing_partner_sub_1,object,20,0,3734999,20,Government - United States,989004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
implementing_partner_id,int64,13039,0,3_734_999.00,NaN,NaN,NaN,3_193_412.97,1_000_001.00,1_000_031.00,3_990_208.00,4_000_575.00,4_020_508.00,1_316_457.62
implementing_partner_name,object,13039,0,3734999,13039,U.S. Government - U.S. Agency for Internationa...,505537,NaN,NaN,NaN,NaN,NaN,NaN,NaN
international_category_id,int64,10,0,3_734_999.00,NaN,NaN,NaN,6.01,1.00,3.00,6.00,10.00,10.00,3.42
international_category_name,object,10,0,3734999,10,Administrative Costs,1170692,NaN,NaN,NaN,NaN,NaN,NaN,NaN
international_sector_code,int64,37,0,3_734_999.00,NaN,NaN,NaN,471.98,111.00,151.00,331.00,911.00,998.00,341.40
international_sector_name,object,37,0,3734999,37,Operating Expenses,853594,NaN,NaN,NaN,NaN,NaN,NaN,NaN
international_purpose_code,int64,223,0,3_734_999.00,NaN,NaN,NaN,64_103.06,11_110.00,15_110.00,41_010.00,91_010.00,1_520_020.00,158_841.22
international_purpose_name,object,223,0,3734999,223,Operating Expenses,853594,NaN,NaN,NaN,NaN,NaN,NaN,NaN
us_category_id,int64,9,0,3_734_999.00,NaN,NaN,NaN,5.50,1.00,3.00,6.00,8.00,9.00,2.46
us_category_name,object,9,0,3734999,9,Program Support,1398883,NaN,NaN,NaN,NaN,NaN,NaN,NaN
us_sector_id,int64,52,0,3_734_999.00,NaN,NaN,NaN,29.45,1.00,16.00,37.00,41.00,52.00,13.80
us_sector_name,object,52,0,3734999,52,Direct Administrative Costs,1389514,NaN,NaN,NaN,NaN,NaN,NaN,NaN
funding_account_id,object,255,0,3734999,255,72x1021,666819,NaN,NaN,NaN,NaN,NaN,NaN,NaN
funding_account_name,object,244,0,3734999,244,"Agency for International Development, Developm...",666819,NaN,NaN,NaN,NaN,NaN,NaN,NaN
funding_agency_id,int64,30,0,3_734_999.00,NaN,NaN,NaN,2.41,1.00,1.00,1.00,2.00,99.00,4.01
funding_agency_name,object,30,0,3734999,30,U.S. Agency for International Development,2331171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
funding_agency_acronym,object,30,907,3734092,29,USAID,2331171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
foreign_assistance_objective,int64,2,0,3_734_999.00,NaN,NaN,NaN,1.01,1.00,1.00,1.00,1.00,2.00,0.12
foreign_assistance_objective_1,object,2,0,3734999,2,Economic,3681538,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aid_type_group_id,int64,7,0,3_734_999.00,NaN,NaN,NaN,4.03,1.00,3.00,3.00,6.00,7.00,1.37
aid_type_group_name,object,7,0,3734999,7,Project-Type,2157231,NaN,NaN,NaN,NaN,NaN,NaN,NaN
activity_id,int64,269311,0,3_734_999.00,NaN,NaN,NaN,169_028.23,1.00,155_557.00,188_970.00,191_245.00,349_268.00,52_227.16
submission_id,int64,110,0,3_734_999.00,NaN,NaN,NaN,78.04,1.00,76.00,76.00,76.00,999.00,75.94
activity_name,object,101613,0,3734999,101613,USAID redacted this field in accordance with t...,534751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
activity_description,object,117236,0,3734999,117236,USAID redacted this field in accordance with t...,515238,NaN,NaN,NaN,NaN,NaN,NaN,NaN
activity_project_number,object,106471,1387983,2347016,106470,OE,145374,NaN,NaN,NaN,NaN,NaN,NaN,NaN
activity_start_date,datetime64[ns],3525,3041923,693076,NaN,NaN,NaN,2012-03-06 03:53:17.259751424,1988-05-23 00:00:00,2009-09-25 00:00:00,2012-11-29 00:00:00,2015-04-24 00:00:00,2017-12-31 00:00:00,NaN
activity_end_date,datetime64[ns],6058,2649188,1085811,NaN,NaN,NaN,2020-10-13 02:19:45.998668032,1999-07-10 00:00:00,2017-08-31 00:00:00,2021-07-06 00:00:00,2024-06-30 00:00:00,2038-09-30 00:00:00,NaN
transaction_type_id,int64,2,0,3_734_999.00,NaN,NaN,NaN,2.66,2.00,2.00,3.00,3.00,3.00,0.47
transaction_type_name,object,2,0,3734999,2,Disbursements,2453873,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fiscal_year,int32,80,0,3_734_999.00,NaN,NaN,NaN,2_015.00,1_946.00,2_011.00,2_016.00,2_021.00,2_025.00,7.03
transaction_date,datetime64[ns],3919,281165,3453834,NaN,NaN,NaN,2016-02-11 23:09:42.483813376,2001-10-01 00:00:00,2011-09-01 00:00:00,2016-10-01 00:00:00,2021-03-01 00:00:00,2024-12-31 00:00:00,NaN
current_dollar_amount,float64,672014,0,3_734_999.00,NaN,NaN,NaN,720_002.61,-2_979_100_740.00,1_443.00,16_254.00,122_341.50,9_941_000_000.00,25_639_938.70
constant_dollar_amount,float64,776502,0,3_734_999.00,NaN,NaN,NaN,1_321_187.75,-6_300_068_603.00,1_759.00,19_933.00,151_533.00,42_424_698_795.00,53_132_994.34
aid_type_id,int64,20,0,3_734_999.00,NaN,NaN,NaN,11.20,1.00,8.00,8.00,17.00,24.00,4.11
aid_type_name,object,20,0,3734999,20,Project-type interventions - not Investment Re...,2133271,NaN,NaN,NaN,NaN,NaN,NaN,NaN
activity_budget_amount,float64,18186,0,3_734_999.00,NaN,NaN,NaN,27_089_167.30,-6_327_678.00,0.00,0.00,0.00,24_099_000_000.00,268_153_752.87
submission_activity_id,int64,71398,0,3_734_999.00,NaN,NaN,NaN,35_419.37,1.00,11_937.00,43_356.00,51_839.00,75_108.00,21_748.85

In [41]:
# Null-cells and none-null cells for each column should sum up to the total number of rows (3734999). If it's false, let's find these columns: 
general_des[ ~( general_des['Null_values'].astype('int') + general_des['count'].astype('int') == len(results_df)) ]

Empty DataFrame
Columns: [Dtype, Unique_values, Null_values, count, unique, top, freq, mean, min, 25%, 50%, 75%, max, std]
Index: []

##### ADDITIONAL COLUMNS

In [ ]:
# For further analysis...

In [42]:
# ... 1) we have to distiguish regions among country names (in fact the column_name contains not only contries, but also regions).

pattern = '|'.join(['World', 'Region'])
mask = results_df['country_name'].str.contains(pattern, case=False ) 
results_df['region_as_country'] = np.where(mask, 1, 0)

# Random check-up
results_df[['country_name', 'region_as_country']].drop_duplicates().sample(n=10)

             country_name  region_as_country
2898790            Zambia                  0
2775385    United Kingdom                  0
1189621     Cote d'Ivoire                  0
2532968        Tajikistan                  0
3438352  Caribbean Region                  1
745302            Georgia                  0
733818               Fiji                  0
857036          Guatemala                  0
1378935            Kuwait                  0
1404197              Laos                  0

In [43]:
# ... 2) we'd like to see the aggregate dynamics through centuries and decades.

decades ={0: 'zeros',
      1: 'tens',
      2: 'twenties',
      3: 'thirties',
      4: 'forties',
      5: 'fifties',
      6: 'sixties',
      7: 'seventies',
      8: 'eighties',
      9: 'nineties'
      }

# This function returns roman-style of centuries (like XXI or XX) and decades.
# So 1987 becomes 'XX_eighties'.
def to_decade(input): # we should pass a scalar value of year, e.g. 1987.
    input = int(input)
    century = input // 100 + 1 
    decade_year = input % 100
    decade = decade_year //10 
    
    output = f'{roman.toRoman(century)}_{decades[decade]}'
    return output

# This function returns arabic-style of centuries and decades.
# So 2025 becomes '21_2'.
def to_decade_num(input): # we should pass a scalar value, e.g. 2025
    input = int(input)
    century = input // 100 + 1 
    decade_year = input % 100
    decade = decade_year //10 
    
    output = f'{century}_{decade}'
    return output

# This function returns string type of centuries, like '21st century'.
# So 1948 becomes '20th century'.
def century(value):
    return '20th century' if value < 2000 else '21st century'



# Now let's create new columns with aggregated periods like century and decades.
results_df['decade_num'] = results_df['fiscal_year'].apply(lambda x: to_decade_num(x)) 
results_df['decade'] = results_df['fiscal_year'].apply(lambda x: to_decade(x)) 
results_df['century'] = results_df['fiscal_year'].apply(lambda x: century(x))

In [44]:
# Random check-up.
results_df[ ['fiscal_year', 'decade_num', 'decade', 'century'] ].sample(20)

         fiscal_year decade_num        decade       century
1295717         2022       21_2  XXI_twenties  21st century
1790790         2024       21_2  XXI_twenties  21st century
3294024         2024       21_2  XXI_twenties  21st century
615630          2008       21_0     XXI_zeros  21st century
3505358         2017       21_1      XXI_tens  21st century
1377110         2018       21_1      XXI_tens  21st century
3393534         2017       21_1      XXI_tens  21st century
1364916         2003       21_0     XXI_zeros  21st century
3304033         2023       21_2  XXI_twenties  21st century
3269727         2020       21_2  XXI_twenties  21st century
2598122         2019       21_1      XXI_tens  21st century
2652235         2010       21_1      XXI_tens  21st century
3102198         2021       21_2  XXI_twenties  21st century
2480473         2017       21_1      XXI_tens  21st century
3327592         2018       21_1      XXI_tens  21st century
3449486         2017       21_1      XXI_tens  21st century
427371          2016       21_1      XXI_tens  21st century
3490559         2011       21_1      XXI_tens  21st century
202706          2013       21_1      XXI_tens  21st century
2300475         2003       21_0     XXI_zeros  21st century

In [45]:
# ... 3) Also it's useful to distinguish contries of CIS (Commonwealth of Independent States)

# Азербайджан;
# Армения;
# Белоруссия;
# Казахстан;
# Киргизия;
# Молдавия;
# Россия;
# Таджикистан;
# Узбекистан.

cis = ['Armenia', 'Azerbaijan', 'Belarus', 'Kazakhstan', 'Kyrgyzstan', 'Moldova', 'Russia', 'Tajikistan', 'Uzbekistan']

# This new column shows True, if a country is a member of CIS.
results_df['cis'] = results_df['country_name'].isin(cis)

In [47]:
# Check-up

results_df[ results_df['cis'] == True ][['country_name', 'cis']].drop_duplicates(keep='first')

        country_name   cis
101512    Azerbaijan  True
167174       Armenia  True
310317       Belarus  True
1233250   Kazakhstan  True
1379770   Kyrgyzstan  True
1681034      Moldova  True
2161455       Russia  True
2532968   Tajikistan  True
2856225   Uzbekistan  True

##### SHOULD DUPLICATES BE ACCOUNTED FOR?

In [62]:
# According to the "Data Dictionary for complete ForeignAssistance.gov dataset",
# "Transaction Type Name" Describes the transaction – 
#  President's Budget Request, Appropriated and Planned, obligation, and disbursement.

In [63]:
# Now let's distinguish btw obligations and disbursements.

obl = results_df[ results_df['transaction_type_name'] == 'Obligations' ]
disb = results_df[ results_df['transaction_type_name'] == 'Disbursements' ]

In [94]:
# Division for constant dollar amount and ids.

tran_type = results_df.groupby(['transaction_type_name']).agg({'constant_dollar_amount': 'sum', 'id': 'count'})*1.0
tran_type['share_sum, %'] = 100 * tran_type['constant_dollar_amount']/results_df['constant_dollar_amount'].sum()
tran_type['share_rows, %'] = 100 * tran_type['id']/len(results_df['id'])
tran_type

,constant_dollar_amount,id,"share_sum, %","share_rows, %"
transaction_type_name,,,,
Disbursements,1_308_686_540_335.00,2_453_873.00,26.52,65.70
Obligations,3_625_948_391_219.00,1_281_126.00,73.48,34.30

In [93]:
# Here we can see examples of activities that involve both obligations and disbursements.

results_df.groupby(['activity_id', 'activity_name'])['transaction_type_name'].agg(lambda x: ','.join(dict.fromkeys(x))).reset_index().sample(10)

,activity_id,activity_name,transaction_type_name
209827,249857,Bureau of Diplomatic Security - ATA BG15SWATME...,Disbursements
44521,61632,Reducing Forest Loss and Orangutan Poaching in...,Obligations
213704,253748,Bureau of Diplomatic Security - Reference mate...,Obligations
228719,268888,Bureau of Near Eastern Affairs - S-NEAMO-15-GR...,Disbursements
157306,189647,Promoting LGBT Equality through Entrepreneursh...,"Obligations,Disbursements"
75536,95294,Community Support for Combating Wildlife Traff...,"Obligations,Disbursements"
233373,273824,Interagency Agreement (IAA) between DOS/EB and...,Disbursements
135363,165374,INCREASED USE OF SUSTAINABLE NATURAL RESOURCE ...,"Obligations,Disbursements"
142441,173100,HEALTH REFORM,Disbursements
242410,285701,Information has been Redacted in accordance wi...,Disbursements

In [111]:
# The reason we can't use activity_id as a basic identifier:
# There are just ~270k unique activities but 3.7mln rows in a dataset.
len(results_df['activity_id'].unique()), len(results_df)

(269311, 3734999)

In [121]:
# Here we can see that the same activity_name sometimes include more that 1 activity_id.
# And visa versa. The same activity_id can have dozens of different activity_names.

print(results_df.groupby(['activity_name']).agg({'activity_id': 'count'}).sample(10), end='\n')
print(results_df.groupby(['activity_id']).agg({'activity_name': 'count'}).sample(10))

                                                    activity_id
activity_name
Maralal Catholic Dispensary                                   2
Total Freight for  Wheat, bulk / Metric Tons: 8...            1
OFDA-2014-Project Concern                                    31
U.S. Environmental Protection Agency, Office of...            2
Food For Progress Title I Commodity Credit Corp...            1
Advancing National Security Discourse in Georgia              8
Beso II Unilateral Activities                                88
Fundacin de Desarrollo Socio-Econmico Integral ...            2
Commodity Value for  Beans, Black / Approximate...            1
Niger Emergency Food and Shelter Program (EFSP)...            7
             activity_name
activity_id
184657                  23
255254                   2
80503                    2
211003                  12
241736                   4
204370                   2
1497                     2
343320                   1
197211                   8
292193                   2

In [112]:
# Moreover we face with 223 duplicated rows in a whole dataset.

obl_except_id = obl[ obl.columns[1:] ]

number_obl_rows = len(obl_except_id)
number_unique_obl_rows = len(obl_except_id.drop_duplicates(keep='first'))

number_duplicated_obl_rows = number_obl_rows - number_unique_obl_rows
number_duplicated_obl_rows

223

In [ ]:
# So our conclusion is... to have a safe, unique identifier for each row,
# we add a new column 'id' containing a row number (from the set_index operation).

## FOR DATABASE DESIGN

##### EXPORT OF TABLES TO CSV FILES

In [55]:
# Now it's time to to export columns of the dataset to analyse them for DB design.

Clmns = pd.DataFrame(results_df.columns)
Clmns.to_excel(r'C:\Users\User\Desktop\Лика\For_a_while\DS\Projects\US_foreign_aid\Prep_for_GIT\From_pandas\Tables_clns.xlsx', \
              header=['Column_name'], \
              index=False)

In [ ]:
# Let's work with DB USAID structure: we need to distribute fields to related tables.
# The result as follows: 
                        #db's table name = excel's column name,
                        #excel's column rows = db's table's column names.

In [ ]:
# MANUAL WORK IN EXCEL IS BEING DONE HERE...

In [ ]:
# NOW THAT WE HAVE CREATED A DB DESING we can import a meta-table with future DB's tables/columns from EXCEL.

In [55]:
for_db = pd.read_excel(r'C:\Users\User\Desktop\Лика\For_a_while\DS\Projects\US_foreign_aid\Prep_for_GIT\From_pandas\Tables_clns.xlsx', \
                           sheet_name = 'to_pandas')

for_db.fillna('', inplace=True)
for_db

,actions,country,region,income_group,managing_agency,international_category,international_sector,international_purpose,us_category,us_sector,funding_account,funding_agency,foreign_assistance_objective,aid_type_group,transaction_type,aid_type
0,id,country_id,region_id,income_group_id,managing_agency_id,international_category_id,international_sector_code,international_purpose_code,us_category_id,us_sector_id,funding_account_id,funding_agency_id,foreign_assistance_objective,aid_type_group_id,transaction_type_id,aid_type_id
1,country_id,country_code,region_name,income_group_name,managing_agency_acronym,international_category_name,international_sector_name,international_purpose_name,us_category_name,us_sector_name,funding_account_name,funding_agency_name,foreign_assistance_objective_1,aid_type_group_name,transaction_type_name,aid_type_name
2,managing_agency_id,country_name,,income_group_acronym,managing_agency_name,,international_category_id,international_sector_code,,us_category_id,funding_agency_id,funding_agency_acronym,,,,aid_type_group_id
3,us_sector_id,region_id,,,,,,,,,,,,,,
4,funding_account_id,income_group_id,,,,,,,,,,,,,,
5,international_purpose_code,,,,,,,,,,,,,,,
6,foreign_assistance_objective,,,,,,,,,,,,,,,
7,aid_type_id,,,,,,,,,,,,,,,
8,activity_id,,,,,,,,,,,,,,,
9,activity_name,,,,,,,,,,,,,,,
10,activity_description,,,,,,,,,,,,,,,
11,transaction_type_id,,,,,,,,,,,,,,,
12,fiscal_year,,,,,,,,,,,,,,,
13,transaction_date,,,,,,,,,,,,,,,
14,current_dollar_amount,,,,,,,,,,,,,,,
15,constant_dollar_amount,,,,,,,,,,,,,,,
16,activity_budget_amount,,,,,,,,,,,,,,,
17,activity_start_date,,,,,,,,,,,,,,,
18,activity_end_date,,,,,,,,,,,,,,,

In [58]:
#                                !!!  Warning! Script creates csv tables in my path!!! 

# Let's create csv files with data for each table.

path = Path(r'C:\Users\User\Desktop\Лика\For_a_while\DS\Projects\US_foreign_aid\Prep_for_GIT\From_pandas')
table_names = list(for_db.columns)


for i in range(len(table_names)):
    
    table_name = table_names[i]
    table_columns = list(for_db[table_name])
    
    
    while '' in table_columns:
        table_columns.remove('') # remove '' from a list (first occurance of a value)

    db_table = results_df[table_columns].copy()
    db_table.drop_duplicates(inplace=True)
    db_table = db_table[ ~db_table.iloc[:, 0].isnull() ] # remove NaN values

    
    file_name = f'{table_name}.csv'
    qualified_name = path / file_name
    db_table.to_csv(qualified_name, index=False, header=False)

##### TABLE COLUMNS TYPES

In [ ]:
# Below we are searching for the best form of a meta-table describing triplet (table, columns, data_types).
# There will be the following versions: for_db1, for_db2, for_db3, for_db4.

In [41]:
for_db1 = for_db.copy()

In [42]:
i = -1
for el in for_db.columns:
    i += 2
    for_db1.insert(i, column = el + '_type', value=np.nan)

In [43]:
for_db1

,actions,actions_type,country,country_type,region,region_type,income_group,income_group_type,managing_agency,managing_agency_type,international_category,international_category_type,international_sector,international_sector_type,international_purpose,international_purpose_type,us_category,us_category_type,us_sector,us_sector_type,funding_account,funding_account_type,funding_agency,funding_agency_type,foreign_assistance_objective,foreign_assistance_objective_type,aid_type_group,aid_type_group_type,transaction_type,transaction_type_type,aid_type,aid_type_type
0,id,NaN,country_id,NaN,region_id,NaN,income_group_id,NaN,managing_agency_id,NaN,international_category_id,NaN,international_sector_code,NaN,international_purpose_code,NaN,us_category_id,NaN,us_sector_id,NaN,funding_account_id,NaN,funding_agency_id,NaN,foreign_assistance_objective,NaN,aid_type_group_id,NaN,transaction_type_id,NaN,aid_type_id,NaN
1,country_id,NaN,country_code,NaN,region_name,NaN,income_group_name,NaN,managing_agency_acronym,NaN,international_category_name,NaN,international_sector_name,NaN,international_purpose_name,NaN,us_category_name,NaN,us_sector_name,NaN,funding_account_name,NaN,funding_agency_name,NaN,foreign_assistance_objective_1,NaN,aid_type_group_name,NaN,transaction_type_name,NaN,aid_type_name,NaN
2,managing_agency_id,NaN,country_name,NaN,,NaN,income_group_acronym,NaN,managing_agency_name,NaN,,NaN,international_category_id,NaN,international_sector_code,NaN,,NaN,us_category_id,NaN,funding_agency_id,NaN,funding_agency_acronym,NaN,,NaN,,NaN,,NaN,aid_type_group_id,NaN
3,funding_agency_id,NaN,region_id,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
4,us_sector_id,NaN,income_group_id,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
5,funding_account_id,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
6,international_purpose_code,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
7,foreign_assistance_objective,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
8,aid_type_id,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
9,activity_id,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
10,activity_name,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
11,activity_description,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
12,transaction_type_id,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
13,fiscal_year,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
14,transaction_date,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
15,current_dollar_amount,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
16,constant_dollar_amount,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
17,activity_budget_amount,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
18,activity_start_date,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
19,activity_end_date,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN

In [44]:
for_db2 = for_db1.copy()

In [45]:
i = 0
j = 1
for el in for_db.columns:
    for_db2.iloc[:,j] = for_db2.iloc[:,i].map(dt_pandas_vs_sql['sql_data_type'].to_dict())
    i += 2
    j += 2

In [46]:
dt_pandas_vs_sql

                                       Data_type  sql_data_type
id                                         int64         BIGINT
country_id                                 int64         BIGINT
country_code                     object (string)  NVARCHAR(MAX)
country_name                     object (string)  NVARCHAR(MAX)
region_id                                  int64         BIGINT
region_name                      object (string)  NVARCHAR(MAX)
income_group_id                            Int64         BIGINT
income_group_name                object (string)  NVARCHAR(MAX)
income_group_acronym             object (string)  NVARCHAR(MAX)
managing_agency_id                         int64         BIGINT
managing_agency_acronym          object (string)  NVARCHAR(MAX)
managing_agency_name             object (string)  NVARCHAR(MAX)
managing_sub_agency_or_bureau              int64         BIGINT
managing_sub_agency_or_bureau_1  object (string)  NVARCHAR(MAX)
managing_sub_agency_or_bureau_2  object (string)  NVARCHAR(MAX)
implementing_partner_category              int64         BIGINT
implementing_partner_category_1  object (string)  NVARCHAR(MAX)
implementing_partner_sub                   int64         BIGINT
implementing_partner_sub_1       object (string)  NVARCHAR(MAX)
implementing_partner_id                    int64         BIGINT
implementing_partner_name        object (string)  NVARCHAR(MAX)
international_category_id                  int64         BIGINT
international_category_name      object (string)  NVARCHAR(MAX)
international_sector_code                  int64         BIGINT
international_sector_name        object (string)  NVARCHAR(MAX)
international_purpose_code                 int64         BIGINT
international_purpose_name       object (string)  NVARCHAR(MAX)
us_category_id                             int64         BIGINT
us_category_name                 object (string)  NVARCHAR(MAX)
us_sector_id                               int64         BIGINT
us_sector_name                   object (string)  NVARCHAR(MAX)
funding_account_id               object (string)  NVARCHAR(MAX)
funding_account_name             object (string)  NVARCHAR(MAX)
funding_agency_id                          int64         BIGINT
funding_agency_name              object (string)  NVARCHAR(MAX)
funding_agency_acronym           object (string)  NVARCHAR(MAX)
foreign_assistance_objective               int64         BIGINT
foreign_assistance_objective_1   object (string)  NVARCHAR(MAX)
aid_type_group_id                          int64         BIGINT
aid_type_group_name              object (string)  NVARCHAR(MAX)
activity_id                                int64         BIGINT
submission_id                              int64         BIGINT
activity_name                    object (string)  NVARCHAR(MAX)
activity_description             object (string)  NVARCHAR(MAX)
activity_project_number          object (string)  NVARCHAR(MAX)
transaction_type_id                        int64         BIGINT
transaction_type_name            object (string)  NVARCHAR(MAX)
fiscal_year                       datetime64[ns]      DATETIME2
transaction_date                  datetime64[ns]      DATETIME2
current_dollar_amount                    float64          FLOAT
constant_dollar_amount                   float64          FLOAT
aid_type_id                                int64         BIGINT
aid_type_name                    object (string)  NVARCHAR(MAX)
activity_budget_amount                   float64          FLOAT
submission_activity_id                     int64         BIGINT
activity_start_date               datetime64[ns]      DATETIME2
activity_end_date                 datetime64[ns]      DATETIME2

In [47]:
for_db2

,actions,actions_type,country,country_type,region,region_type,income_group,income_group_type,managing_agency,managing_agency_type,international_category,international_category_type,international_sector,international_sector_type,international_purpose,international_purpose_type,us_category,us_category_type,us_sector,us_sector_type,funding_account,funding_account_type,funding_agency,funding_agency_type,foreign_assistance_objective,foreign_assistance_objective_type,aid_type_group,aid_type_group_type,transaction_type,transaction_type_type,aid_type,aid_type_type
0,id,BIGINT,country_id,BIGINT,region_id,BIGINT,income_group_id,BIGINT,managing_agency_id,BIGINT,international_category_id,BIGINT,international_sector_code,BIGINT,international_purpose_code,BIGINT,us_category_id,BIGINT,us_sector_id,BIGINT,funding_account_id,NVARCHAR(MAX),funding_agency_id,BIGINT,foreign_assistance_objective,BIGINT,aid_type_group_id,BIGINT,transaction_type_id,BIGINT,aid_type_id,BIGINT
1,country_id,BIGINT,country_code,NVARCHAR(MAX),region_name,NVARCHAR(MAX),income_group_name,NVARCHAR(MAX),managing_agency_acronym,NVARCHAR(MAX),international_category_name,NVARCHAR(MAX),international_sector_name,NVARCHAR(MAX),international_purpose_name,NVARCHAR(MAX),us_category_name,NVARCHAR(MAX),us_sector_name,NVARCHAR(MAX),funding_account_name,NVARCHAR(MAX),funding_agency_name,NVARCHAR(MAX),foreign_assistance_objective_1,NVARCHAR(MAX),aid_type_group_name,NVARCHAR(MAX),transaction_type_name,NVARCHAR(MAX),aid_type_name,NVARCHAR(MAX)
2,managing_agency_id,BIGINT,country_name,NVARCHAR(MAX),,NaN,income_group_acronym,NVARCHAR(MAX),managing_agency_name,NVARCHAR(MAX),,NaN,international_category_id,BIGINT,international_sector_code,BIGINT,,NaN,us_category_id,BIGINT,funding_agency_id,BIGINT,funding_agency_acronym,NVARCHAR(MAX),,NaN,,NaN,,NaN,aid_type_group_id,BIGINT
3,funding_agency_id,BIGINT,region_id,BIGINT,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
4,us_sector_id,BIGINT,income_group_id,BIGINT,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
5,funding_account_id,NVARCHAR(MAX),,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
6,international_purpose_code,BIGINT,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
7,foreign_assistance_objective,BIGINT,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
8,aid_type_id,BIGINT,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
9,activity_id,BIGINT,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
10,activity_name,NVARCHAR(MAX),,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
11,activity_description,NVARCHAR(MAX),,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
12,transaction_type_id,BIGINT,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
13,fiscal_year,DATETIME2,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
14,transaction_date,DATETIME2,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
15,current_dollar_amount,FLOAT,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
16,constant_dollar_amount,FLOAT,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
17,activity_budget_amount,FLOAT,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
18,activity_start_date,DATETIME2,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN
19,activity_end_date,DATETIME2,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN

In [33]:
for_db2.to_csv(r'C:\Users\User\Desktop\Лика\For_a_while\DS\Projects\US_foreign_aid\DB_SQL_SERVER_1\Clns_dt.csv',
               index_label = 'row_num'
              )

In [48]:
for_db3 = pd.DataFrame({'cln_name': [], 'data_type':[], 'tbl_name': []})

for i in range(0, len(for_db2.columns), 2):
    
    interim = for_db2.iloc[:, i:i+2]
    interim.insert(loc=2, column='tbl_name', value=for_db2.columns[i]) 
    interim.columns = ['cln_name', 'data_type', 'tbl_name']
    interim = interim[ interim['cln_name'] != '' ]
    
    for_db3 = pd.concat([for_db3, interim], axis=0, ignore_index=True)
    
for_db3

,cln_name,data_type,tbl_name
0,id,BIGINT,actions
1,country_id,BIGINT,actions
2,managing_agency_id,BIGINT,actions
3,funding_agency_id,BIGINT,actions
4,us_sector_id,BIGINT,actions
5,funding_account_id,NVARCHAR(MAX),actions
6,international_purpose_code,BIGINT,actions
7,foreign_assistance_objective,BIGINT,actions
8,aid_type_id,BIGINT,actions
9,activity_id,BIGINT,actions
10,activity_name,NVARCHAR(MAX),actions
11,activity_description,NVARCHAR(MAX),actions
12,transaction_type_id,BIGINT,actions
13,fiscal_year,DATETIME2,actions
14,transaction_date,DATETIME2,actions
15,current_dollar_amount,FLOAT,actions
16,constant_dollar_amount,FLOAT,actions
17,activity_budget_amount,FLOAT,actions
18,activity_start_date,DATETIME2,actions
19,activity_end_date,DATETIME2,actions
20,country_id,BIGINT,country
21,country_code,NVARCHAR(MAX),country
22,country_name,NVARCHAR(MAX),country
23,region_id,BIGINT,country
24,income_group_id,BIGINT,country
25,region_id,BIGINT,region
26,region_name,NVARCHAR(MAX),region
27,income_group_id,BIGINT,income_group
28,income_group_name,NVARCHAR(MAX),income_group
29,income_group_acronym,NVARCHAR(MAX),income_group
30,managing_agency_id,BIGINT,managing_agency
31,managing_agency_acronym,NVARCHAR(MAX),managing_agency
32,managing_agency_name,NVARCHAR(MAX),managing_agency
33,international_category_id,BIGINT,international_category
34,international_category_name,NVARCHAR(MAX),international_category
35,international_sector_code,BIGINT,international_sector
36,international_sector_name,NVARCHAR(MAX),international_sector
37,international_category_id,BIGINT,international_sector
38,international_purpose_code,BIGINT,international_purpose
39,international_purpose_name,NVARCHAR(MAX),international_purpose
40,international_sector_code,BIGINT,international_purpose
41,us_category_id,BIGINT,us_category
42,us_category_name,NVARCHAR(MAX),us_category
43,us_sector_id,BIGINT,us_sector
44,us_sector_name,NVARCHAR(MAX),us_sector
45,us_category_id,BIGINT,us_sector
46,funding_account_id,NVARCHAR(MAX),funding_account
47,funding_account_name,NVARCHAR(MAX),funding_account
48,funding_agency_id,BIGINT,funding_account
49,funding_agency_id,BIGINT,funding_agency
50,funding_agency_name,NVARCHAR(MAX),funding_agency
51,funding_agency_acronym,NVARCHAR(MAX),funding_agency
52,foreign_assistance_objective,BIGINT,foreign_assistance_objective
53,foreign_assistance_objective_1,NVARCHAR(MAX),foreign_assistance_objective
54,aid_type_group_id,BIGINT,aid_type_group
55,aid_type_group_name,NVARCHAR(MAX),aid_type_group
56,transaction_type_id,BIGINT,transaction_type
57,transaction_type_name,NVARCHAR(MAX),transaction_type
58,aid_type_id,BIGINT,aid_type
59,aid_type_name,NVARCHAR(MAX),aid_type
60,aid_type_group_id,BIGINT,aid_type

In [35]:
for_db3.to_csv(r'C:\Users\User\Desktop\Лика\For_a_while\DS\Projects\US_foreign_aid\DB_SQL_SERVER_1\Clns_dt1.csv',
               index_label = 'row_num')

In [49]:
dict_tbl = {}
row_qty = for_db2.shape[0]
cln_qty = for_db2.shape[1]

for i in range(0, cln_qty, 2):
    
    dict_cln = {}
    for j in range(0, row_qty, 1):
        dict_cln[for_db2.iloc[j,i]] = for_db2.iloc[j,i+1]
        
    dict_tbl[for_db2.columns[i]] = dict_cln 

dict_tbl

{'actions': {'id': 'BIGINT',
  'country_id': 'BIGINT',
  'managing_agency_id': 'BIGINT',
  'funding_agency_id': 'BIGINT',
  'us_sector_id': 'BIGINT',
  'funding_account_id': 'NVARCHAR(MAX)',
  'international_purpose_code': 'BIGINT',
  'foreign_assistance_objective': 'BIGINT',
  'aid_type_id': 'BIGINT',
  'activity_id': 'BIGINT',
  'activity_name': 'NVARCHAR(MAX)',
  'activity_description': 'NVARCHAR(MAX)',
  'transaction_type_id': 'BIGINT',
  'fiscal_year': 'DATETIME2',
  'transaction_date': 'DATETIME2',
  'current_dollar_amount': 'FLOAT',
  'constant_dollar_amount': 'FLOAT',
  'activity_budget_amount': 'FLOAT',
  'activity_start_date': 'DATETIME2',
  'activity_end_date': 'DATETIME2'},
 'country': {'country_id': 'BIGINT',
  'country_code': 'NVARCHAR(MAX)',
  'country_name': 'NVARCHAR(MAX)',
  'region_id': 'BIGINT',
  'income_group_id': 'BIGINT',
  '': nan},
 'region': {'region_id': 'BIGINT', 'region_name': 'NVARCHAR(MAX)', '': nan},
 'income_group': {'income_group_id': 'BIGINT',
  'income_group_name': 'NVARCHAR(MAX)',
  'income_group_acronym': 'NVARCHAR(MAX)',
  '': nan},
 'managing_agency': {'managing_agency_id': 'BIGINT',
  'managing_agency_acronym': 'NVARCHAR(MAX)',
  'managing_agency_name': 'NVARCHAR(MAX)',
  '': nan},
 'international_category': {'international_category_id': 'BIGINT',
  'international_category_name': 'NVARCHAR(MAX)',
  '': nan},
 'international_sector': {'international_sector_code': 'BIGINT',
  'international_sector_name': 'NVARCHAR(MAX)',
  'international_category_id': 'BIGINT',
  '': nan},
 'international_purpose': {'international_purpose_code': 'BIGINT',
  'international_purpose_name': 'NVARCHAR(MAX)',
  'international_sector_code': 'BIGINT',
  '': nan},
 'us_category': {'us_category_id': 'BIGINT',
  'us_category_name': 'NVARCHAR(MAX)',
  '': nan},
 'us_sector': {'us_sector_id': 'BIGINT',
  'us_sector_name': 'NVARCHAR(MAX)',
  'us_category_id': 'BIGINT',
  '': nan},
 'funding_account': {'funding_account_id': 'NVARCHAR(MAX)',
  'funding_account_name': 'NVARCHAR(MAX)',
  'funding_agency_id': 'BIGINT',
  '': nan},
 'funding_agency': {'funding_agency_id': 'BIGINT',
  'funding_agency_name': 'NVARCHAR(MAX)',
  'funding_agency_acronym': 'NVARCHAR(MAX)',
  '': nan},
 'foreign_assistance_objective': {'foreign_assistance_objective': 'BIGINT',
  'foreign_assistance_objective_1': 'NVARCHAR(MAX)',
  '': nan},
 'aid_type_group': {'aid_type_group_id': 'BIGINT',
  'aid_type_group_name': 'NVARCHAR(MAX)',
  '': nan},
 'transaction_type': {'transaction_type_id': 'BIGINT',
  'transaction_type_name': 'NVARCHAR(MAX)',
  '': nan},
 'aid_type': {'aid_type_id': 'BIGINT',
  'aid_type_name': 'NVARCHAR(MAX)',
  'aid_type_group_id': 'BIGINT',
  '': nan}}

In [50]:
dict_tbl = {}
row_qty = for_db2.shape[0]
cln_qty = for_db2.shape[1]

for i in range(0, cln_qty, 2):
    
    str_cln_dt = ''
    for j in range(0, row_qty, 1):
        if for_db2.iloc[j,i] != '':
            str_cln_dt += str(for_db2.iloc[j,i]) + ' ' + str(for_db2.iloc[j,i+1]) + ',' 
    str_cln_dt = str_cln_dt[:-1] # remove the last ','
    
    dict_tbl[for_db2.columns[i]] =  str_cln_dt

dict_tbl

{'actions': 'id BIGINT,country_id BIGINT,managing_agency_id BIGINT,funding_agency_id BIGINT,us_sector_id BIGINT,funding_account_id NVARCHAR(MAX),international_purpose_code BIGINT,foreign_assistance_objective BIGINT,aid_type_id BIGINT,activity_id BIGINT,activity_name NVARCHAR(MAX),activity_description NVARCHAR(MAX),transaction_type_id BIGINT,fiscal_year DATETIME2,transaction_date DATETIME2,current_dollar_amount FLOAT,constant_dollar_amount FLOAT,activity_budget_amount FLOAT,activity_start_date DATETIME2,activity_end_date DATETIME2',
 'country': 'country_id BIGINT,country_code NVARCHAR(MAX),country_name NVARCHAR(MAX),region_id BIGINT,income_group_id BIGINT',
 'region': 'region_id BIGINT,region_name NVARCHAR(MAX)',
 'income_group': 'income_group_id BIGINT,income_group_name NVARCHAR(MAX),income_group_acronym NVARCHAR(MAX)',
 'managing_agency': 'managing_agency_id BIGINT,managing_agency_acronym NVARCHAR(MAX),managing_agency_name NVARCHAR(MAX)',
 'international_category': 'international_category_id BIGINT,international_category_name NVARCHAR(MAX)',
 'international_sector': 'international_sector_code BIGINT,international_sector_name NVARCHAR(MAX),international_category_id BIGINT',
 'international_purpose': 'international_purpose_code BIGINT,international_purpose_name NVARCHAR(MAX),international_sector_code BIGINT',
 'us_category': 'us_category_id BIGINT,us_category_name NVARCHAR(MAX)',
 'us_sector': 'us_sector_id BIGINT,us_sector_name NVARCHAR(MAX),us_category_id BIGINT',
 'funding_account': 'funding_account_id NVARCHAR(MAX),funding_account_name NVARCHAR(MAX),funding_agency_id BIGINT',
 'funding_agency': 'funding_agency_id BIGINT,funding_agency_name NVARCHAR(MAX),funding_agency_acronym NVARCHAR(MAX)',
 'foreign_assistance_objective': 'foreign_assistance_objective BIGINT,foreign_assistance_objective_1 NVARCHAR(MAX)',
 'aid_type_group': 'aid_type_group_id BIGINT,aid_type_group_name NVARCHAR(MAX)',
 'transaction_type': 'transaction_type_id BIGINT,transaction_type_name NVARCHAR(MAX)',
 'aid_type': 'aid_type_id BIGINT,aid_type_name NVARCHAR(MAX),aid_type_group_id BIGINT'}

In [51]:
for_db4 = pd.DataFrame(dict_tbl, index=[0]).T
for_db4.columns = ['clns_dt']
for_db4

                                                                        clns_dt
actions                       id BIGINT,country_id BIGINT,managing_agency_id...
country                       country_id BIGINT,country_code NVARCHAR(MAX),c...
region                               region_id BIGINT,region_name NVARCHAR(MAX)
income_group                  income_group_id BIGINT,income_group_name NVARC...
managing_agency               managing_agency_id BIGINT,managing_agency_acro...
international_category        international_category_id BIGINT,international...
international_sector          international_sector_code BIGINT,international...
international_purpose         international_purpose_code BIGINT,internationa...
us_category                   us_category_id BIGINT,us_category_name NVARCHA...
us_sector                     us_sector_id BIGINT,us_sector_name NVARCHAR(MA...
funding_account               funding_account_id NVARCHAR(MAX),funding_accou...
funding_agency                funding_agency_id BIGINT,funding_agency_name N...
foreign_assistance_objective  foreign_assistance_objective BIGINT,foreign_as...
aid_type_group                aid_type_group_id BIGINT,aid_type_group_name N...
transaction_type              transaction_type_id BIGINT,transaction_type_na...
aid_type                      aid_type_id BIGINT,aid_type_name NVARCHAR(MAX)...

In [215]:
for_db4.to_csv(r'C:\Users\User\Desktop\Лика\For_a_while\DS\Projects\US_foreign_aid\DB_SQL_SERVER_1\Clns_dt3.csv',
               index = True,
               header = False)

##### UPDATE

In [ ]:
# This sample will help us to code DB triggers for updating with new chunks of data next year.

In [73]:
columns_order_for_update = [
'id', 
'country_id', 
'country_code', 
'country_name', 
'region_id', 
'region_name', 
'income_group_id', 
'income_group_name', 
'income_group_acronym', 
'managing_agency_id', 
'managing_agency_acronym', 
'managing_agency_name', 
'managing_sub_agency_or_bureau', 
'managing_sub_agency_or_bureau_1', 
'managing_sub_agency_or_bureau_2', 
'implementing_partner_category', 
'implementing_partner_category_1', 
'implementing_partner_sub', 
'implementing_partner_sub_1', 
'implementing_partner_id', 
'implementing_partner_name', 
'international_category_id', 
'international_category_name', 
'international_sector_code', 
'international_sector_name', 
'international_purpose_code', 
'international_purpose_name', 
'us_category_id', 
'us_category_name', 
'us_sector_id', 
'us_sector_name', 
'funding_account_id', 
'funding_account_name', 
'funding_agency_id', 
'funding_agency_name', 
'funding_agency_acronym', 
'foreign_assistance_objective', 
'foreign_assistance_objective_1', 
'aid_type_group_id', 
'aid_type_group_name', 
'activity_id', 
'submission_id', 
'activity_name', 
'activity_description', 
'activity_project_number', 
'transaction_type_id', 
'transaction_type_name', 
'fiscal_year', 
'transaction_date', 
'current_dollar_amount', 
'constant_dollar_amount', 
'aid_type_id', 
'aid_type_name', 
'activity_budget_amount', 
'submission_activity_id', 
'activity_start_date', 
'activity_end_date'
]

In [75]:
results_df[columns_order_for_update].sample(n=10).to_csv(r'C:\Users\User\Desktop\Лика\For_a_while\DS\Projects\US_foreign_aid\Prep_for_GIT\raw_data_update.csv',
                            index=False,
                            header=False)

In [77]:
#results_df[columns_order_for_update].sample(n=10)